<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <h1>Orders</h1>
    <%= render partial: 'orders_table', locals: {orders: @orders.shipped, shipped: true} %>
    <%= render partial: 'orders_table', locals: {orders: @orders.unshipped, shipped: false} %>
  </body>
</html>
